.black-menu{
    background-color: #000;
    position: fixed;
    width: 100%;
    height: 50px;
    z-index: 35;
    display: flex;
    align-items: center;
    top: -50px;
    transition: all .2s ease-in-out;
    

    nav{
        z-index: 30;
        margin: 0 auto;
        width: 650px;
        a{
            color: #ffffffb4;

            &:hover, &:active{
                color: #fff;
            }

           
        }
        .menu, .drinks{
            margin: 0px;
        }
        
    }
}


.revealed{
    transform: translateY(50px);
    transition: all .2s ease-in-out;
}


/* media query */
@media screen and (max-width:780px) {
    .black-menu {
        display: none;
    }

   
}
