nav{
    display: flex;
    justify-content: space-between;
    width: 70%;
    margin: -50px auto;
    position: relative;
    z-index: 22;
  

    a{
        color: #ffffffb4;
        font-size: 14px;
        text-transform: uppercase;
        text-decoration: none;
        letter-spacing: 2px;
        font-weight: 700;
        font-style: normal;
        line-height: 1em;

        &.menu{
            margin-right: 120px;
        }
        &.drinks{
            margin-left: 120px;
        }

        &:hover{
            color: #fff;
        }

    } 
    
}





@media screen and (max-width: 1280px)
{

    nav{
        
        width: 650px;
        margin: 20px auto;
        

        a{
    
            &.menu{
                margin-right: 0px;
            }
            &.drinks{
                margin-left: 0px;
            }
    
        } 
    }
    header .logo{
        width: 200px;
        padding-right: 0px;

    }

}

/* media query */
@media screen and (max-width:780px) {
    .navigation {
      display: none;
    }

   
}